* {
  font-family: "GT Eesti Pro Display", sans-serif !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.icon-library {
  border: 1px solid var(--color-black7);
  padding: 16px;
  height: 100%;

  svg {
    width: 100%;
    height: auto;
  }

  span {
    @include body1;
    text-align: center;
    display: block;
  }
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.layout {
  background-color: var(--main-bg);
}

.auth {
  background-color: white;
}

.pop-selected {
  position: fixed;
  bottom: 24px;
  left: calc(50% + (var(--aside-width) / 2));
  transform: translateX(-50%);
  padding: 16px;
  box-shadow: 0px 2px 8px 0px rgba(var(--color-black), 0.1);
  background-color: var(--color-blue1);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  min-width: 320px;
  .list {
    &-item {
      &-line {
        border-color: var(--color-white1);
      }
      span._2,
      span._1 {
        color: var(--color-white1);
      }
    }
  }
}

[class*="flex"] {
  display: flex;
  align-items: center;

  &.flex-start {
    align-items: flex-start;
  }

  &.flex-between {
    justify-content: space-between;
  }

  &.flex-center {
    justify-content: center;
  }
}

@for $i from 1 through 6 {
  .flex-gap-#{$i} {
    gap: #{$i * 4}px;
  }
}

$space-values: 4px 8px 12px 16px 20px 24px;

.i-square {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--color-black6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}

.nowrap {
  white-space: nowrap;
}

.ava {
  display: flex;
  align-items: center;

  &-image {
    min-width: 52px;
    max-width: 52px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border-radius: 50px;
    border: 1px solid var(--color-black7);
    margin-right: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include subtitle1(var(--color-black4));
    text-transform: uppercase;

    img {
      @include image;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      right: 4px;
      top: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: var(--color-black7);
      z-index: -1;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    margin-right: 12px;

    b {
      @include subtitle2(var(--color-black1));
    }

    span {
      &._1 {
        @include body2(var(--color-black3));
      }

      &._2 {
        @include body4(var(--color-black4));
      }
    }
  }

  .i-default {
    margin-left: auto;
  }
}

.review {
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    width: 16px;
    height: 16px;
  }

  &-fill {
    fill: var(--color-yellow1);
  }

  &-stroke {
    stroke: var(--color-black6);
    stroke-width: 1.5px;
    fill: transparent;
  }
}

// text

[class*="text-"] {
  margin: 0;
  display: block;

  &.text {
    &-headline1 {
      @include headline1(var(--color-black1));
    }

    &-headline2 {
      @include headline2(var(--color-black1));
    }

    &-subtitle1 {
      @include subtitle1(var(--color-black1));
    }

    &-subtitle2 {
      @include subtitle2(var(--color-black1));
    }

    &-body1 {
      @include body1(var(--color-black1));
    }

    &-body2 {
      @include body2(var(--color-black1));
    }

    &-body3 {
      @include body3(var(--color-black1));
    }

    &-body4 {
      @include body4(var(--color-black1));
    }

    &-button1 {
      @include button1(var(--color-black1));
    }

    &-button2 {
      @include button2(var(--color-black1));
    }

    &-button2 {
      @include button2(var(--color-black1));
    }

    &-caption {
      @include caption(var(--color-black1));
    }

    &-overline {
      @include overline(var(--color-black1));
    }
  }

  &.red {
    color: var(--color-primary1);
  }

  &.blue {
    color: var(--color-blue1);
  }

  &.green1 {
    color: var(--color-green1);
  }

  &.orange {
    color: var(--color-orange1);
  }

  &.yellow {
    color: var(--color-yellow1);
  }

  &.white {
    color: var(--color-white1);
  }

  &.black2 {
    color: var(--color-black2);
  }

  &.black3 {
    color: var(--color-black3);
  }

  &.black4 {
    color: var(--color-black4);
  }

  &.black5 {
    color: var(--color-black5);
  }

  &.black6 {
    color: var(--color-black6);
  }

  &.black7 {
    color: var(--color-black7);
  }

  &.black8 {
    color: var(--color-black8);
  }
}

.box {
  &:not(.bordered) {
    @include box;
  }

  &.bordered {
    @include box($bordered: true);
  }

  &.no-bx {
    box-shadow: unset !important;
  }

  &._12_16 {
    padding: 12px 16px;
  }

  &._8 {
    padding: 8px;
  }
}

@for $i from 1 through length($space-values) {
  $value: nth($space-values, $i);

  .mb-#{$i} {
    margin-bottom: $value;
  }

  .mt-#{$i} {
    margin-top: $value;
  }

  .mr-#{$i} {
    margin-right: $value;
  }

  .ml-#{$i} {
    margin-left: $value;
  }

  .margin-#{$i} {
    margin: $value;
  }

  .pb-#{$i} {
    padding-bottom: $value;
  }

  .pt-#{$i} {
    padding-top: $value;
  }

  .pr-#{$i} {
    padding-right: $value;
  }

  .pl-#{$i} {
    padding-left: $value;
  }

  .padding-#{$i} {
    padding: $value;
  }
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.line {
  width: 100%;
  border-bottom: 1px solid var(--color-black7);
  margin: 16px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-item {
    display: flex;
    align-items: flex-end;

    span {
      &._1 {
        @include body2(var(--color-black3));
      }

      &._2 {
        @include body1(var(--color-black2));
      }
    }

    &-line {
      flex: 1;
      margin: 0 12px;
      transform: translateY(-8px);
      border-bottom: 1px dashed var(--color-black5);
    }
  }
}

.w100 {
  width: 100% !important;
}

.center {
  margin: 60px auto;
  display: block;
  width: max-content;
}

.flex-1 {
  flex: 1;
}
