@import 'mixins/breakpoints', 'mixins/typography';


@mixin image($fit: cover) {
    width: 100%;
    height: 100%;
    object-fit: $fit;
    object-position: center;
}

@mixin slice($limit) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $limit;
}

@mixin box($padding: 16px, $bordered: false) {
    .layout.student & {
        border-radius: 16px;
        box-shadow: 0px 2px 8px 0px rgba(var(--color-black), 0.10);
    }
    padding: $padding;
    border-radius: 8px;
    background-color: var(--color-white1);
    @if $bordered {
        border: 1px solid var(--color-black6);
        box-shadow: none !important;
    }

}