.breadcrumbs {
    display: flex;
    align-items: center;
    height: 32px;

    ul {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-right: auto;


        li {
            .ant-btn {
                gap: 0;


            }

            span {
                display: flex;
                align-items: center;
                @include body2(var(--color-black4));
                gap: 8px;

                i {
                    width: 32px;
                    height: 32px;
                    border-radius: 8px;
                    background: var(--color-white1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--color-primary1);
                    margin-right: 8px;
                }

                &.active {
                    color: var(--color-black5);
                    cursor: pointer;
                }
            }

        }
    }
}