.ant-modal {
    .ant-modal {
        &-close {
            width: auto;
            height: auto;
            top: 16px;

            &-x {
                svg {
                    color: var(--color-black4);
                    display: block;
                }
            }
        }

        &-content {
            padding: 16px;
        }

        &-title {
            @include headline2;
        }

        &-header {
            margin-bottom: 16px;
        }

        &-footer {
            display: flex;
            justify-content: center;
            gap: 12px;
            margin-top: 16px;

            .ant-btn {
                margin: 0 !important;
                flex: 1;
                max-width: 230px;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}