.ant-popconfirm {
    .ant-popconfirm-buttons {
        display: flex;
        gap: 8px;
        .ant-btn {
            margin: 0;
            &-default {
                background-color: var(--color-black8);
                border: 1px solid var(--color-black6);
            }
        }
    }
}
.ant-popover {
    .ant-popover-inner {
        max-width: 200px;
    }
}