<template>
  <div>
    <a-row>
      <a-col :md="12" :sm="24">
        <h1>Contacts</h1>
      </a-col>
      <a-col :md="12" :sm="24">
        <div class="actions">
          <div class="search">
            <a-input-search v-model:value="searchValue" placeholder="input search text" enter-button />
          </div>
          <a-button type="primary" @click="showModal">
            Create Contact
            <SvgIcon name="plus" />
          </a-button>
        </div>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="3">
        <a-select class="table-limit" v-model:value="limit">
          <a-select-option v-for="item of [1, 5, 10, 20]" :key="item" :value="item">
            {{ item }}
          </a-select-option>
        </a-select>
      </a-col>
    </a-row>

    <a-table :columns="tableColumns" :data-source="filteredData" :key="data.length" :pagination="pagination"
             @change="handleTableChange" :scroll="{ x: 'max-content' }">
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'fullName'">
          <span>{{ record.lastName }} {{ record.firstName }} {{ record.patronymic }} </span>
        </template>

        <template v-else-if="column.key === 'tags'">
          <span>
            <a-tag v-for="tag in record.tags" :key="tag" :color="tag === 'loser'
              ? 'volcano'
              : tag.length > 5
                ? 'geekblue'
                : 'green'
              ">
              {{ tag.toUpperCase() }}
            </a-tag>
          </span>
        </template>
        <template v-else-if="column.key === 'action'">
          <span>
            <a-button @click="setActiveItem(record)">Edit</a-button>
            <a-divider type="vertical" />
            <a-button danger @click="deleteContact(record._id)">Delete</a-button>
          </span>
        </template>
      </template>
    </a-table>
    <ContactModal v-model:open="addContactModalVisible" :tags="tags" @ok="createContact"
                  @cancel="addContactModalVisible = false" />
    <ContactModal v-model:open="editContactModalVisible" :tags="tags" :data="activeContact" @ok="updateContact"
                  @cancel="editContactModalVisible = false" />
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from "vue";
import {
  contactCreateMessages,
  contactDeleteMessages,
  contactUpdateMessages,
  tableColumns,
  tags
} from "@/constants/contacts";
//Types
import { Contact } from "@/types/Contacts.ts";

//Components
import ContactModal from "@/components/contacts/ContactsModal.vue";
import { notification } from "ant-design-vue";


const addContactModalVisible = ref<boolean>(false);
const editContactModalVisible = ref<boolean>(false);

const searchValue = ref<string>("");
let data = ref([
  {
    _id: 1,
    firstName: "John",
    lastName: "Brown",
    patronymic: "Brown",
    email: "john@mail.ru",
    phone: "123456789",
    tags: ["family", 'friends'],
  }
])

const activeContact = ref<Contact>();
const page = ref<number>(1);
const limit = ref<number>(10);
const totalDocs = ref<number>(0);


//Computed

const filteredData = computed(() => {
  if (searchValue.value) {
    const searchQuery = searchValue.value.toLowerCase();
    return data.value.filter(item =>
        item.firstName.toLowerCase().includes(searchQuery) ||
        item.lastName.toLowerCase().includes(searchQuery) ||
        item.patronymic.toLowerCase().includes(searchQuery) ||
        item.email.toLowerCase().includes(searchQuery) ||
        item.phone.toLowerCase().includes(searchQuery) ||
        item.tags.some(tag => tag.toLowerCase().includes(searchQuery))
    );
  } else {
    return data.value;
  }
})

const pagination = computed(() => ({
  total: totalDocs.value,
  current: page.value,
  pageSize: limit.value,
}));

// Methods

//Contacts
const createContact = (form) => {
  const id = `${new Date().getTime()}`;
  data.value.push({ ...form, _id: id });
  addContactModalVisible.value = false;
  notification.open({
    message: "Success",
    description: contactCreateMessages,
    type: "success",
  })
};
const updateContact = (form) => {
  data.value = data.value.map((item) => String(item._id) === String(activeContact.value._id) ? { ...form } : item);
  editContactModalVisible.value = false;
  notification.open({
    message: "Success",
    description: contactUpdateMessages,
    type: "success",
  })

}

const deleteContact = (id) => {
  data.value = data.value.filter((item) => item._id != id);
  notification.open({
    message: "Success",
    description: contactDeleteMessages,
    type: "success",
  })
}

const setActiveItem = (item) => {
  activeContact.value = item
  editContactModalVisible.value = true;
}

const showModal = () => {
  addContactModalVisible.value = true;
};

const handleTableChange = (pag) => {
  page.value = pag.current;
  limit.value = pag.pageSize;
};


</script>


<style>
</style>
