<template>
  <div class="error">
    <SvgIcon name="404" />
    <p>{{ $route.query.message }}</p>
    <a-button type="primary" @click="$router.back()"
      >Go back to cabinet</a-button
    >
  </div>
</template>
