<template>
  <div>
    <h1>Info Page</h1>
    <p>Welcome to the Info page!</p>
    <div class="user-info">
      <div class="user-info__item">
        <div>Email</div>
        <div>{{ userInfo.email }}</div>
      </div>

      <div class="user-info__item">
        <div>Is Confirm</div>
        <div>{{ userInfo.emailIsConfirmed }}</div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { inject, reactive, ref } from 'vue';
import jscookie from 'js-cookie';
const $api = inject('$api');

const userInfo = ref({});

const getUserInfo = async () => {
  const token = jscookie.get('auth.local');
  const accessToken = token.split(' ')[1];
  const data = await $api.user.getUserInfo({ accessToken: accessToken });
  userInfo.value = data;
};

getUserInfo();
</script>


<style scoped>
.user-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.user-info__item {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}
</style>
