<template>
  <a-modal  :open="props.open" @change="modalChange" title="Basic Modal">
    <a-form
        ref="formRef"
        :model="form"
        name="validate_other"
        layout="vertical"
        :rules="validationRules"
        @keydown.enter.native="onFinish"
    >
      <a-form-item label="First Name" name="firstName">
        <a-input v-model:value="form.firstName"/>
      </a-form-item>
      <a-form-item label="Last Name" name="lastName">
        <a-input v-model:value="form.lastName"/>
      </a-form-item>
      <a-form-item label="Patronymic" name="patronymic">
        <a-input v-model:value="form.patronymic"/>
      </a-form-item>
      <a-form-item label="Phone" name="phone">
        <a-input v-model:value="form.phone"/>
      </a-form-item>
      <a-form-item label="Email" name="email">
        <a-input v-model:value="form.email" type="email"/>
      </a-form-item>
      <a-form-item label="Tags" name="tags">
        <a-select
            mode="tags"
            style="width: 100%"
            placeholder="Tags Mode"
            v-model:value="form.tags"
            itemLabelProp="title"
        >
          <a-select-option
              v-for="item of props.tags"
              :value="item.value"
              :key="item.value"
          >{{ item.title }}
          </a-select-option
          >
        </a-select>
      </a-form-item>
    </a-form>
    <template #footer>
      <a-button @click="$emit('cancel')">Cancel</a-button>
      <a-button type="primary" @click="onFinish" >Submit</a-button>
    </template>
  </a-modal>
</template>

<script setup lang="ts">
import {reactive, ref, watch} from "vue";
import {REQUIRED_FIELD, INVALID_EMAIL} from "@/constants/messages";
import {Contact} from "@/types/Contacts.ts";

const emits = defineEmits(["ok", "cancel", "update:open"]);
interface Props {
  open: boolean
  tags: Array<{ title: string; value: string }>
  data?: Contact
}
const props = defineProps<Props>();


const formRef = ref();
const form = reactive<Contact>({
  firstName: "",
  lastName: "",
  patronymic: "",
  phone: "",
  email: "",
  tags: [],
});

watch(
    () => props.data,
    (data) => {
      if (data) {
        form.firstName = data.firstName
        form.lastName = data.lastName;
        form.patronymic = data.patronymic;
        form.phone = data.phone;
        form.email = data.email;
        form.tags = data.tags;
      }
    })


const validationRules = {
  firstName: [{required: true, message: REQUIRED_FIELD}],
  lastName: [{required: true, message: REQUIRED_FIELD}],
  patronymic: [{required: true, message: REQUIRED_FIELD}],
  phone: [{required: true, message: REQUIRED_FIELD}],
  email: [
    {required: true, message: REQUIRED_FIELD},
    {type: "email", message: INVALID_EMAIL},
  ],
};
const onFinish = async () => {
  try {
    await formRef.value.validate();
    emits("ok", {...form});
    formRef.value.resetFields();

  } catch (error) {
    console.log(error);
  }
};

const modalChange = (e: boolean) => {
  emits('update:open', e)
}
</script>
